syntax: glob

*.*scc
*.FileListAbsolute.txt
*.aps
*.bak
*.[Cc]ache
*.clw
*.eto
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.obj
*.patch
*.pch
*.pdb
*.plg
*.[Pp]ublish.xml
*.rdl.data
*.sbr
*.scc
*.sig
*.sqlsuo
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tpl.html.ts
*.user
*.vshost.*
*DXCore.Solution
*_i.c
*_p.c
Ankh.Load
Backup*
CVS/
PrecompiledWeb/
UpgradeLog*.*
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Tt]humbs.db
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
hgignore[.-]*
ignore[.-]*
svnignore[.-]*
lint.db
glob:build/NuGet/*
*.[Rr]e[Ss]harper
[Pp]ackages/
[Pp]sdReader/
_[Ss]hared/
[Rr]rdlib/
TestResult.xml
*.PartCover.Report.xml
*/Indexes/Daedalus.Contracts.DataTransfer.Search.ProductSearch/
ProductSearchModels.txt
DuplicateFinder-Results.xml
*.shfbproj_*
UploadedFiles/
Tests.**/Existing**/**
Tests.**/**Repository/**
Tests.**/Test**Folder**/**
Tests.**/Test**Folder**/
*.Console/Test*Folder/
TestFilesystemTempFolder/
TestArchivesFolder
TestIndexesFolder
TestResults/
NotificationTemplates/NotificationTemplates/Views/Emails/*
*/*.sublime-workspace
*/*.sublime-project
*/*cakefile
Daedalus.Web/Public/JavaScript/CakeFile
Daedalus.Web/Public/CSS/.sass-cache/*
node_modules
FxCop.output.txt
.DS_Store
.htaccess
Configuration/Local/authentication.config
/Dust.Web/Public/Scripts/External
/Dust.Web/**/stylesheets/*
/Dust.Web/**/.sass-cache/*
/Dust.Web/**/Compiled/*
/Dust.Web/Scripts/min/*
/Dust.Web/Public/*
/Dust.Web/node_build/config.rb
/Dust.Web/Styles/config.rb
/Dust.Web/App-UI/build/css
/Dust.Web/App-UI/.sass-cache
/Dust.Web/App-UI/.sass-tmp
/Dust.Web/App-UI/bower
/Dust.Web/App-UI/src/**/*.js
/Dust.Web/App-UI/src/**/*.js.map
/Dust.Web/App-UI/src/**/*.css
/Dust.Web/App-UI/test/**/*.js
/Dust.Web/App-UI/test/**/*.js.map
/Dust.Web/App-UI/mocha/**/*.js
/Dust.Web/App-UI/mocha/**/*.js.map
/Dust.FSharp/App_Readme/~$*
/Dust.Web/App-UI/*.sublime-workspace
Dust.Web/App-UI/vendor/DefinitelyTyped/
/Dust.Web/App-UI/.idea
/Dust.Web/.idea
Dust.Web/App-UI/tscommand.tmp.txt
Dust.Web/App-UI/src/sass-components/main.css.map
Dust.Web/App-UI/src/sass-components/overrides.css.map
Dust.Web/App-UI/build/js/app.min.js
Notifications/Templates/Email/EDM-Example-01.htm
Dust.FSharp/Scripts/
/Dust.Web/App-UI/diagnostics.js
templateCache.ts
